<div class="text-center">
    <h1 class="display-4">Обработчик архивов с погодой</h1>
    <br/>
    <p>
        Данный сервис предназначен для загрузки архивов с погодой (excel-файлов с заданным шаблоном) и последующего их просмотра
    </p>
    <ul style="list-style-type: none" class="list-inline">
        <li class="list-inline-item">
            <div class="card" style="width: 150px">
                <a class="text-decoration-none" asp-area="" asp-controller="Upload" asp-action="Index">Загрузка</a>
            </div>
        </li>
        <li class="list-inline-item">
            <div class="card" style="width: 150px">
                <a class="text-decoration-none" asp-area="" asp-controller="ShowWeather" asp-action="Index">Просмотр</a>
            </div>
        </li>
    </ul>
</div>
